# PyTorch Audio - install from https://pytorch.org/get-started/locally/
# torch>=1.5.1
# torchvision>=0.6.1
# ffmpeg install 'master' zip file from - https://ffmpeg.org/ -> https://github.com/BtbN/FFmpeg-Builds/releases
# A quick solution is to move the 3 files in 'bin' folder to your script working directory.
# MORE INFORMATION ON THIS IN 'README' FILE .

tqdm>=4.30
librosa>=0.6.3,<0.9
opencv_python>=4.2.0
